<div id="<%= dom_id campeonato %>">
  <p>
    <strong>Club:</strong>
    <%= campeonato.club_id %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= campeonato.categoria_id %>
  </p>

  <p>
    <strong>Tipoinscripcion:</strong>
    <%= campeonato.tipoinscripcion_id %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= campeonato.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= campeonato.descripcion %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= campeonato.foto %>
  </p>

  <p>
    <strong>Normativo:</strong>
    <%= campeonato.normativo %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= campeonato.tipo %>
  </p>

  <p>
    <strong>Fecha inicio:</strong>
    <%= campeonato.fecha_inicio %>
  </p>

  <p>
    <strong>Fecha termino:</strong>
    <%= campeonato.fecha_termino %>
  </p>

  <p>
    <strong>Cupos maximos:</strong>
    <%= campeonato.cupos_maximos %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= campeonato.estado %>
  </p>

  <p>
    <strong>Reglas:</strong>
    <%= campeonato.reglas %>
  </p>

</div>
